section.customers
	.container
		.row
			.col
				.customers-slider-top
					.customers-slider-top__content
						img(src="images/customers-img2.png").customers-slider-top__img
					.customers-slider-top__content
						img(src="images/customers-img1.png").customers-slider-top__img
					.customers-slider-top__content
						img(src="images/customers-img3.png").customers-slider-top__img
		.row
			.col
				.customers-slider-bottom
					.customers-slider-bottom__content
						h3.customers-slider-bottom__title New Providence is the great UI kit 
						.customers-slider-bottom__desc
							p “Just then her head struck against the roof of the hall: in fact she was now more than nine feet high, and she at once took up the little golden key and hurried off to the garden door.”
						.customers-slider-bottom__rating
							img(src="images/star-icon.svg").customers-slider-bottom__stars
							img(src="images/star-icon.svg").customers-slider-bottom__stars
							img(src="images/star-icon.svg").customers-slider-bottom__stars
							img(src="images/star-icon.svg").customers-slider-bottom__stars
							img(src="images/star-icon.svg").customers-slider-bottom__stars
						.customers-slider-bottom__name Cameron Dowman
					.customers-slider-bottom__content
						h3.customers-slider-bottom__title New Providence is the great UI kit 
						.customers-slider-bottom__desc
							p “Just then her head struck against the roof of the hall: in fact she was now more than nine feet high, and she at once took up the little golden key and hurried off to the garden door.”
						.customers-slider-bottom__rating
							img(src="images/star-icon.svg").customers-slider-bottom__stars
							img(src="images/star-icon.svg").customers-slider-bottom__stars
							img(src="images/star-icon.svg").customers-slider-bottom__stars
							img(src="images/star-icon.svg").customers-slider-bottom__stars
							img(src="images/star-icon.svg").customers-slider-bottom__stars
						.customers-slider-bottom__name Cameron Dowman
					.customers-slider-bottom__content
						h3.customers-slider-bottom__title New Providence is the great UI kit 
						.customers-slider-bottom__desc
							p “Just then her head struck against the roof of the hall: in fact she was now more than nine feet high, and she at once took up the little golden key and hurried off to the garden door.”
						.customers-slider-bottom__rating
							img(src="images/star-icon.svg").customers-slider-bottom__stars
							img(src="images/star-icon.svg").customers-slider-bottom__stars
							img(src="images/star-icon.svg").customers-slider-bottom__stars
							img(src="images/star-icon.svg").customers-slider-bottom__stars
							img(src="images/star-icon.svg").customers-slider-bottom__stars
						.customers-slider-bottom__name Cameron Dowman
					
							