section.features
  .container
    .row
      .col-12.col-md-6
        .features__item
          img(src="../images/lock.png").features__icon.features__icon_lock
          .features__title Real-time all the time
          .features__text
            p Thus much I thought proper to tell you in relation to yourself, and to the trust I reposed in you.
            p Just then her head struck against the roof of the hall: in fact she was now more than nine feet high, and she at once took up the little golden key and hurried off to the garden door.
      .col-12.col-md-6
        .features__item
          img(src="../images/clock.png").features__icon.features__icon_clock
          .features__title Adopt without any obstacles
          .features__text
            p This sounded a very good reason, and Alice was quite pleased to know it. 'I never thought of that before!' she said.
            p This I have produced as a scantling of Jack’s great eloquence and the force of his reasoning upon such abstruse matters.
      .col-12
        .divider
