footer.footer
  .footer-top
    .container
      .row
        .col-3
          .logo.footer__logo
              img.logo__img(src='images/logo.png')
          .footer-text It was some time before he obtained any answer, and the reply, when made, was unpropitious.
          .download.footer-download
            a(href="#").download__btn.footer-download__btn
              span Download on the
              span App Store
        .col-2.ml-auto
          .footer__title Learn More
          ul.footer-menu
            li.footer-menu__item
              a(href="#").footer-menu__link How it works?
            li.footer-menu__item
              a(href="#").footer-menu__link Meeting tools
            li.footer-menu__item
              a(href="#").footer-menu__link Live striming
            li.footer-menu__item
              a(href="#").footer-menu__link Contat method
        .col-2
          .footer__title About Us
          ul.footer-menu
            li.footer-menu__item
              a(href="#").footer-menu__link About us
            li.footer-menu__item
              a(href="#").footer-menu__link Features
            li.footer-menu__item
              a(href="#").footer-menu__link Privacy police
            li.footer-menu__item
              a(href="#").footer-menu__link Terms & Conditions
        .col-2
          .footer__title Support
          ul.footer-menu
            li.footer-menu__item
              a(href="#").footer-menu__link F.A.Q.
            li.footer-menu__item
              a(href="#").footer-menu__link Contact us
            li.footer-menu__item
              a(href="#").footer-menu__link Live chat
            li.footer-menu__item
              a(href="#").footer-menu__link Phone call
      .row
        .col
          .footer-socials
            a(href="#").footer-socials__link
              i.fa.fa-twitter(aria-hidden="true")
            a(href="#").footer-socials__link
              i.fa.fa-facebook(aria-hidden="true")
            a(href="#").footer-socials__link
              i.fa.fa-google-plus(aria-hidden="true")
            a(href="#").footer-socials__link
              i.fa.fa-tumblr(aria-hidden="true")
            a(href="#").footer-socials__link
              i.fa.fa-pinterest-p(aria-hidden="true")
            a(href="#").footer-socials__link
              i.fa.fa-linkedin(aria-hidden="true")
      .row
        .col
          .divider
  .footer-bottom
    .container
      .row
        .col-4
          .more For m ore freebies visit: 
            a(href="#") http://getcraftwork.com
        .col-3.ml-auto  
          .developer-logo
            span Made with Love by
            img(src="images/dev-logo.png" alt="craftwork").developer-logo__img
