header.header
    .container
        .row
            .col-4
                nav.nav
                    ul.main-menu
                        li.main-menu__item
                            .main-menu__link
                                i.fa.fa-bars(aria-hidden="true")
                        li.main-menu__item
                            a.main-menu__link(href="#") Tour
                        li.main-menu__item
                            a.main-menu__link(href="#") Features
                        li.main-menu__item
                            a.main-menu__link(href="#") Pricing

            .col-4.align-items-center
                .logo
                    img.logo__img(src='images/logo.png')
            .col-4
                .contacts
                    a.contacts__link(href="#") Help
                    a.contacts__link(href="#") Contacts
                    a.contacts__link.contacts__link_app(href="#") Get App
        .row
            .col
                .offer
                    h1.offer__title What happens tomorrow?
                    .offer__desc The sight of the tumblers restored Bob Sawyer to a degree of equanimity which he had not possessed since his interview with his landlady. His face brightened up, and he began to feel quite convivial.
                    a.btn.offer__btn(href="#") Watch Video
                    img.offer__img(src='../images/header-iphone.png')