section.map-feature
  .container
    .row
      .col-12.col-sm-9.col-md-7.col-lg-5.mr-auto
        .map-feature__content
          h2.title.map-feature__title We are almost <br> everywhere
          .text
            p Now the races of these two have been for some ages utterly extinct, and besides to discourse any further of them would not be at all to my purpose.
            p Thus much I thought proper to tell you in relation to yourself, and to the trust I reposed in you.
          .partners
            .partners__title Partners
            img.partners__img(src="../images/dropbox.png")
            img.partners__img(src="../images/evernote.png")
