section.plan
	.container
		.row
			.col-4
				.choose
					h2.choose__title Choose your perfect
					.choose__text You are
					.toggle
						.choose-btns
							.choose-btns__item.choose-btns__item_active Individual
							.choose-btns__item Company
					.choose__desc
						p Thus much I thought proper to tell you in relation to yourself, and to the trust I reposed in you.

					.choose__team Have a bigger team?
							span Let‘s talk

			.col-7.ml-auto
				.plan-list
					.plan-list__item.plan-list__item_active
						.plan-list__name Starter
						.plan-list__cost free
						.plan-list__desc Build your schedule every day
						.plan-list__advantages Unlimeted events
						.plan-list__advantages Connect Dropbox & Evernote
						button.plan-list__btn Get started
					.plan-list__item
						.plan-list__name Pro
						.plan-list__cost $4.99
						.plan-list__desc Make your life better
						.plan-list__advantages Unlimeted events
						.plan-list__advantages Connect Dropbox & Evernote
						.plan-list__advantages Personal Assistant
						button.plan-list__btn Make me a Pro
