section.protect
  .container
    .row
      .col-12.col-md-7.col-lg-6.col-xl-5.ml-auto
        .protect__content
          .title.protect__title Your day <br> is protected
          .text 
            p There have not been any since we have lived here, said my mother. 
            p We thought - Mr. Copperfield thought - it was quite a large rookery; but the nests were very old ones, and the birds have deserted them a long while.
          .buttons-group
            
            a(href="#").btn.btn_blue.protect__btn Try to hack us
            a(href="#").btn Learn more
