section.screens
  .container
    .row
      .col
        h2.title.screens__title Beautiful Interface
        .screens__name Landing Screen
  .screens__content 
    img(src="../images/screen-iphone.png").screens__img
    .screens-slider
      .screens-slider__item
        img(src="../images/screen-center.png").screens-slider__img
      .screens-slider__item
        img(src="../images/screen-left2.png").screens-slider__img
      .screens-slider__item
        img(src="../images/screen-left1.png").screens-slider__img
      .screens-slider__item
        img(src="../images/screen-right1.png").screens-slider__img
      .screens-slider__item
        img(src="../images/screen-right2.png").screens-slider__img
  .container
    .row
      .col
        .company-name
          span.company-name_bold New
          span Providence
    .row
      .col
        h2.title.title_center Get it to your smartphone
    .row
      .col-6.mr-auto.ml-auto
        .send-form
          input.send-form__input
          button.send-form__btn.btn Send Invite
    .row
      .col
        .download
          .download__text or Download From
          a(href="#").download__btn
            span Download on the
            span App Store
          
