section.subscribe
  .container
    .row
      .col
        h2.title.title_center Subscribe our newsletters
    .row
      .col-6.mr-auto.ml-auto
        .send-form.subscribe__send-form
          input(placeholder="You e-mail").send-form__input
          button.send-form__btn.btn Subscribe
    .row
      .col
        .promise We promise to never spam you.
    .row
      .col
        .divider
