doctype html

html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='Content-Type', content="IE=edge")
        meta(name="viewport" content="initial-scale=1.0")

        link(rel="stylesheet" href="css/font-awesome.min.css")
        link(rel="stylesheet" href="css/bootstrap.min.css")
        link(rel="stylesheet" href="css/slick-theme.css")
        link(rel="stylesheet" href="css/slick.css")
        link(rel="stylesheet" href="css/animate.css")
        link(rel="stylesheet" href="css/main.css")
        title New Providence
    body
        include sections/header
        include sections/features
        include sections/protect
        include sections/map-feature
        include sections/screens
        include sections/customers
        include sections/plan
        include sections/subscribe
        include sections/footer

        script(src="js/jquery.min.js")
        script(src="js/slick.min.js")
        script(src="js/screens.js")
        script(src="js/customers.js")
        script(src="js/choose.js")

        script(src="js/main.js")
